{{#if isInitialRelease}}
##### :hatching_chick: Initial release
{{else}}
{{#each commitCategories}}
### :{{emoji}}: {{title}}
{{#each commits}}
> [`{{shortSha}}`](https://github.com/{{@root.ownerName}}/{{@root.repoName}}/commit/{{sha}}) {{message}}
{{/each}}
{{/each}}

{{#if hasDependencyChanges}}

---
{{#each dependencies}}
### {{title}}
Event|Package|Before|After
---|---|---|---
{{#each added}}
:floppy_disk: Added|[`{{name}}`](https://yarnpkg.com/package/{{name}})||`{{range}}`
{{/each}}
{{#each removed}}
:toilet: Removed|[`{{name}}`](https://yarnpkg.com/package/{{name}})|`{{range}}`
{{/each}}
{{#each moved}}
:school_satchel: Moved|[`{{name}}`](https://yarnpkg.com/package/{{name}})|{{oldTypesString}}|{{newType}}
{{/each}}
{{#each locked}}
:lock: Locked|[`{{name}}`](https://yarnpkg.com/package/{{name}})|`{{oldRange}}`|`{{newRange}}`
{{/each}}
{{#each unlocked}}
:unlock: Unlocked|[`{{name}}`](https://yarnpkg.com/package/{{name}})|`{{oldRange}}`|`{{newRange}}`
{{/each}}
{{#each downgraded}}
:fallen_leaf: Downgraded|[`{{name}}`](https://yarnpkg.com/package/{{name}})|`{{oldRange}}`|`{{newRange}}`
{{/each}}
{{#each upgraded}}
:sunflower: Upgraded|[`{{name}}`](https://yarnpkg.com/package/{{name}})|`{{oldRange}}`|`{{newRange}}`
{{/each}}
{{/each}}
{{/if}}
{{/if}}

---
{{#unless isInitialRelease}}
- Code changes: [{{beforeTag.name}} … {{afterTagName}}](https://github.com/{{ownerName}}/{{repoName}}/compare/{{beforeTag.name}}...{{afterTagName}}?diff=unified&w=1) ({{$handlebars-helper-plural comparison.total_commits 'commit'}})
{{/unless}}
{{#if isOnNpm}}
- jsDelivr: [cdn.jsdelivr.net/npm/{{packageName}}@{{pkg.version}}](https://cdn.jsdelivr.net/npm/{{packageName}}@{{pkg.version}})
- UNPKG: [unpkg.com/browse/{{packageName}}@{{pkg.version}}](https://unpkg.com/browse/{{packageName}}@{{pkg.version}}/)
{{/if}}

{{#unless isInitialRelease}}
#### {{$handlebars-helper-plural authorsCount 'author'}}

{{#each authors}}<a href="{{url}}" target=_blank><img height=32 width=32 alt="{{$handlebars-helper-plural commits 'commit'}} from {{name}}" src="{{avatar}}"/></a> {{/each}}
{{/unless}}